//
//  Development.xcconfig
//  Pingd
//
//  Created by David Acevedo on 2/20/20.
//  Copyright © 2020 David Acevedo. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-Pingd/Pods-Pingd.debug (development).xcconfig"
#include "Pods/Target Support Files/Pods-Pingd/Pods-Pingd.release (development).xcconfig"

// SERVER URL
SERVER_URL=http:/$()/PingdBackend-dev.us-east-1.elasticbeanstalk.com

// App Settings
APP_NAME=Divise (dev)
APP_BUNDLE=com.davidacevedo.Divise.dev
